* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto',sans-serif
}
a {
    text-decoration: none;
    color: black
}
.h100, body, html, #page {
    height: 100%
}
.w100, body, html, #page {
    width: 100%
}
#header.__component__, #footer.__component__, #page {
    display: grid
}
#header.__component__, #footer.__component__ {
    background-color:#292929;
    justify-items: center;
    align-items: center
}
#header.__component__ .title, button, .arrayDisplay {
    color:#fff
}
.arrayDisplay .header, button {
    font-weight: 700
}
#header.__component__ .title {
    font-weight:900;
    font-size:24px;
    text-transform:uppercase
}
#main, #aside {
    overflow-x:hidden;
    overflow-y:scroll
}
#aside {
    background-color:#181818;
    grid-row:1/3 span;
    min-width:150px;
    width:fit-content;
    max-width:300px;
    border:1px solid #1f1f1f;
    color:#d3d3d3;
    padding:30px 20px
}
#aside .header {
    text-align:center;
    font-weight:800;
    border-bottom:1px solid #fff
}
#aside .section {
    padding:10px 5px
}
#aside .title {
    font-style:italic;
    font-weight:600
}
#aside .description {
    padding:5px 10px
}
#aside form input {
    margin:5px 0
}
button {
    background-color:#f50;
    padding:5px 0;
    border:none
}
#footer.__component__ {
    color:#8f8f8f;
    border-top:1px solid #1f1f1f
}
#page {
    background-color:#383838;
    grid-template-rows:80px auto 40px;
    grid-template-columns:min-content auto
}
#header.__component__ {
    border-bottom:1px solid #1f1f1f
}
::-webkit-scrollbar {
    width:6px
}
::-webkit-scrollbar-track {
    background:#854d32
}
::-webkit-scrollbar-thumb {
    background:#888
}
::-webkit-scrollbar-thumb:hover {
    background:#555
}